<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>
	<link rel="stylesheet" type="text/css" href="/todos.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div id="container">
	<h1>To-Do List <i class="fa fa-plus"></i></h1>
	<input type="text" placeholder="Add New Todo">


	<ul id="todolist">
		<%for(var i=0;i<user.todo.length;i++){%>
		<li>

		<span data-id="<%=user.todo[i].id%>"><i class="fa fa-trash"></i></span>

		<%=user.todo[i].task%>
		</li>

		<%}%>

	</ul>
</div>



<script type="text/javascript" >
	// Check Off Specific Todos By Clicking


//Click on X to delete Todo

function reBuildTodo()
{
	
	$("#todolist").empty();

	$.get('/<%=user.id%>/todo2',function(data){

		

		for(var i=0;i<data.length;i++)
		{
			
			$("ul").append("<li><span data-id ="+ data[i]._id +"><i class='fa fa-trash'></i></span> " + data[i].task  + "</li>")
		} 
	});
		
	
}


$("ul").on("click","span",function(event){

	

	var dataid = $(this).attr("data-id");
				
	$.ajax({
			type:'POST',
			url: '/<%=user._id%>/todo/'+ dataid + '?_method=DELETE',

			success: function()
			{
				
				reBuildTodo();
				
				
			},
			error:function(error)
			{
				console.log('error!!!!');
			}
		})


});

$("input[type='text']").keypress(function(event){
	if(event.which === 13){
		//grabbing new todo text from input
		var todoText = $(this).val();
		$(this).val("");
		//create a new li and add to ul
		

		$.ajax({
			type: 'POST',
			url:'/<%=user.id%>/todo',
			data: {task:todoText},

			success: function(){
				reBuildTodo();
			},
			error:function()
			{
				console.log('error');
			}
		})
	}
});

$(".fa-plus").click(function(){
	$("input[type='text'").fadeToggle()
});



</script>

</body>
</html>